<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Ijoldaý - О нас</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&display=swap" rel="stylesheet">
    <link rel="icon" size="16x16" href="/images/logo-orange.png">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

      <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/css/bootstrap-datepicker.css" th:href="@{/css/bootstrap-datepicker.css}">
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css" th:href="@{/css/jquery.fancybox.min.css}">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css" th:href="@{/css/owl.theme.default.min.css}">
    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css" th:href="@{/fonts/flaticon/font/flaticon.css}">
    <link rel="stylesheet" href="/css/aos.css" th:href="@{/css/aos.css}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">

  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


    <div class="site-wrap" id="home-section">
      <header th:insert="blocks/header :: header"></header>
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0 order-lg-2">
            <img src="images/about.svg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 mr-auto">
            <h2>Ijoldaý</h2>
            <p>Создан, чтобы разрушить барьеры между городами в передаче товаров. Товары из других городов, село, которые невозможно доставить в Ваш адрес, доступны через путешественников или попутчиков. Ваш заказ в надежных руках - так как регистрация на Ijoldaý очень просты но умно.
              Регистрируйте свои поездки и привозите товары на заказ, также зарабатывайте.</p>
            <p>Мы открываем для людей уникальную возможность передачи товаров, важных документов и другие не габаритные вещи (далее-товары), которые трудно передать, отправить в срочных ситуациях по простым способом.
              Даже, чем вы хотите купит и привезет путешественник, а на счет благодарности или оплаты за услуги договаривается вами. </p>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <img src="images/about2.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 ml-auto">
            <h2><b>Наша История</b></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit suscipit, repudiandae similique accusantium eius nulla quam laudantium sequi.</p>
            <p>Debitis voluptates corporis saepe molestias tenetur ab quae, quo earum commodi, laborum dolore, fuga aliquid delectus cum ipsa?</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container site-section mb-5">
      <div class="row justify-content-center text-center">
        <div class="col-7 text-center mb-5">
          <h2><b>Как Это Работает</b></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo assumenda, dolorum necessitatibus eius earum voluptates sed!</p>
        </div>
      </div>
      <div class="how-it-works d-flex">
        <div class="step">
          <span class="number"><span>01</span></span>
          <span class="caption">Time &amp; Place</span>
        </div>
        <div class="step">
          <span class="number"><span>02</span></span>
          <span class="caption">Car</span>
        </div>
        <div class="step">
          <span class="number"><span>03</span></span>
          <span class="caption">Details</span>
        </div>
        <div class="step">
          <span class="number"><span>04</span></span>
          <span class="caption">Checkout</span>
        </div>
        <div class="step">
          <span class="number"><span>05</span></span>
          <span class="caption">Done</span>
        </div>

      </div>
    </div>




      <footer th:insert="blocks/footer :: footer"></footer>
    </div>

    <script src="/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script src="/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
    <script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
    <script src="/js/jquery.sticky.js" th:src="@{/js/jquery.sticky.js}"></script>
    <script src="/js/jquery.waypoints.min.js" th:src="@{/js/jquery.waypoints.min.js}"></script>
    <script src="/js/jquery.animateNumber.min.js" th:src="@{/js/jquery.animateNumber.min.js}"></script>
    <script src="/js/jquery.fancybox.min.js" th:src="@{/js/jquery.fancybox.min.js}"></script>
    <script src="/js/jquery.easing.1.3.js" th:src="@{/js/jquery.easing.1.3.js}"></script>
    <script src="/js/bootstrap-datepicker.min.js" th:src="@{/js/bootstrap-datepicker.min.js}"></script>
    <script src="/js/aos.js" th:src="@{/js/aos.js}"></script>

    <script src="/js/main.js" th:src="@{/js/main.js}"></script>

  </body>

</html>

