<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Ijoldaý - Ошибка</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" size="16x16" href="/images/logo-orange.png">
    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/bootstrap-datepicker.css" th:href="@{/css/bootstrap-datepicker.css}">
    <link rel="stylesheet" href="../static/css/jquery.fancybox.min.css" th:href="@{/css/jquery.fancybox.min.css}">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css" th:href="@{/css/owl.theme.default.min.css}">
    <link rel="stylesheet" href="../static/fonts/flaticon/font/flaticon.css" th:href="@{/fonts/flaticon/font/flaticon.css}">
    <link rel="stylesheet" href="../static/css/aos.css" th:href="@{/css/aos.css}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


<div class="site-wrap" id="home-section">

    <header th:insert="blocks/header :: header"></header>

    <footer th:insert="blocks/footer :: footer"></footer>

</div>

<script src="js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
<script src="js/jquery.sticky.js" th:src="@{/js/jquery.sticky.js}"></script>
<script src="js/jquery.waypoints.min.js" th:src="@{/js/jquery.waypoints.min.js}"></script>
<script src="js/jquery.animateNumber.min.js" th:src="@{/js/jquery.animateNumber.min.js}"></script>
<script src="js/jquery.fancybox.min.js" th:src="@{/js/jquery.fancybox.min.js}"></script>
<script src="js/jquery.easing.1.3.js" th:src="@{/js/jquery.easing.1.3.js}"></script>
<script src="js/bootstrap-datepicker.min.js" th:src="@{/js/bootstrap-datepicker.min.js}"></script>
<script src="js/aos.js" th:src="@{/js/aos.js}"></script>

<script src="js/main.js" th:src="@{/js/main.js}"></script>

</body>

</html>

